<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
</head>
<body>
    <h1>Registro de usuario</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/registro-usuario">Registro</a></li>
        <li><a href="/login">Log-in</a></li>
        <li><a href="/detalle-producto">Detalle del producto</a></li>
        <li><a href="/carrito-de-compra">Carrito de compras</a></li>
    </ul>
</body>
</html>